html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.container .header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 170px;
  background-color: #fb4447;
}

.pic-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  right: 14px;
}

.pic-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header_title {
  min-width: 60%;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #303320;
  text-transform: uppercase;
}

.header_title .header_name {
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin: 0;
}

.header_title .header_job {
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content .content_left {
  flex-basis: 35%;
  background-color: #2a374a;
  padding: 30px 15px;
}

.sidebar_section_header {
  color: #d3787b;
}

.sidebar_section_list > li {
  display: block;
  width: 100%;
  color: white;
}

.content .content_right {
  padding: 20px;
}

.content_section {
  border-bottom: 4px solid red;
  padding: 25px 15px;
}

.common_header {
  color: black;
}

.content_text {
  font-size: 14px;
  color: black;
  line-height: 18px;
  letter-spacing: 0.075em;
}
